@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #292929;
  font-family: Roboto;
}

/**************************************
              INITIAL
**************************************/

article {
  position: relative;
  width: 1000px;
  *zoom: 1;
  text-align: justify;
  margin-top: 50px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

article h1 {
  color: #fff;
  width: auto;
  font-size: 50px;
  -webkit-transition: all .5s cubic-bezier(0.81, 0.4, 0.24, 0.75);
  -moz-transition: all .5s cubic-bezier(0.81, 0.4, 0.24, 0.75);
  transition: all .5s cubic-bezier(0.81, 0.4, 0.24, 0.75);
}

article h1:hover {
  color: #3498db;
  transition: all .2s;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

article h2 {
  color: #fff;
  display: none;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

#about {
  padding-top: 7%; 
  padding-bottom: 80px;
  width: 100%;
  color: #fff;
  padding-left: 15%;
  padding-right: 15%;
  *zoom: 1;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

#about img {
  width: 300px;
  height: 300px;
  margin-right: 50px;
  float: left;
  border-radius: 50%;
  -webkit-transition: all .5s cubic-bezier(0.81, 0.4, 0.24, 0.75);
  -moz-transition: all .5s cubic-bezier(0.81, 0.4, 0.24, 0.75);
  transition: all .5s cubic-bezier(0.81, 0.4, 0.24, 0.75);
  }

a.btn {
  margin: 25px auto;
  padding: 5px;
  background: transparent;
  border: 3px #fff solid;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 70px;
  transition: all .4s;
}

a.btn:hover {
  text-decoration: none;
  border: 3px #3498db solid;
  background: #3498db;
  color: #fff;
 }

#mysocial{
  display: none;
  text-align: center;
  font-weight:normal;
}

#mysocial i {
  transition: all .4s;
  display: inline-block;
  color: #fff;
  padding: 20px 5px 0px 5px;
}

#mysocial i:hover {
  color: #3498db;
}

#menu {
  z-index: 110;
  display: block;
  cursor: pointer;
  float: left;
  position: absolute;
  padding-top: 3px;
}


#sidemenu {
  background: #292929;
  height: 55px;
  width: 100%;
  float: left;
  z-index: 109;
  display: none;
  margin-top: 10px;
  color: #fff;
}

#sidemenu:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: -26px 10px 0px 15px;
  width: 0; 
  height: 0;
  transition: all .4s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #292929;
}

#sidemenu ul {
  margin-left: 20px;
  vertical-align: middle;
}

#sidemenu li {
  margin: 10px;
  display: inline;
}

#sidemenu li a {
  text-decoration: none;
  color: #fff;
  transition: all .3s;
}

#sidemenu li a:hover {
  color: #3498db;
}


/**************************************
              loader
**************************************/
.telaCheia{
  width: 100% !important;
  height: 100% !important;
    
 }

.imgPequena{
  width: 80% !important;
  max-width: 300px !important;
  height: 80% !important;
  max-height: 300px !important;
  transform: translateX(12%);
  border: 2px #fff solid;
  margin-bottom: 20px;
}

.esconde {
  display: none !important;
}

.mostra {
  display: block !important;
}

.btn-grande {
  width: 100%!important;
  font-size: 15px!important;
}

.textoPequeno {
  font-size: 14.5px;
  text-align: center;
}


/**************************************
              SECTIONS
**************************************/
.home{
  background: url(../img/bg.jpg) no-repeat fixed;
  float: left;
  width: 27.5%;
  height: 100%;
  position: fixed;
  z-index:100;
  -webkit-transition: all 1.232s;
  -moz-transition: all 1.232s;
  transition: all 1.232s;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#projects {
  float: right;
  color: #292929;
  padding: 50px;
  width: 70%;
  display: none;
  -webkit-animation-name:fadeInRightBig;
  animation-name:fadeInRightBig;
  -webkit-transition: all -0.9s;
  -moz-transition: all -0.9s;
  transition: all -0.9s;
}

#projects h2 {
  padding-left: 50px;
}


.project {
  display: block;
  clear: both;
  padding-top: 5%;
  animation-delay: .2s;
}

.project:first-child {
  padding-top:0px;
}

span.descricao {
  width: 60%;
  display: block;
  float: left;
  padding-left: 3%;
}

img.miniatura {
  border-radius: 5px;
  width: 300px;
  float: left;
  padding-bottom: 30px;
}

a.btn-prj {
  margin-top: 5px;
  padding: 10px 15px;
  background: #2c3e50;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  transition: all .4s;
  width: 40%;
}

a.btn-prj:hover{
  width:43%;
  background-color:#415972;
}

.fa-chevron-right {
  margin-left:5px;
}