/* SMARTPHONES */
@media only screen and (min-device-width : 320px) and (max-device-width : 640px){

	body {
		overflow: show;
		font-size: 2.5em;
	}
	
	article {
		clear: both;
	}
	
	#whois {
		text-align: center;
	}
	
	#about {
		padding-right: 5%;
		padding-left: 5%;
	}
	
	#about img {
    border: 4px #fff solid;
    width: 60% !important;
    height: 60% !important;
		clear: both;
		transform: translateX(34%);
	}

	.home {
		min-height: 100%;
	}

	article h1 {
		padding-top: 25px;
		display: none;
	}
	
	article h2 {
		display: block;
		padding-top:20px;
 		text-align: center;
	}

	#mysocial {
		display: block;
	}
	
	a.btn {
  	display: none;
	}
}

/* PCS PEQUENOS */

@media only screen and (max-width : 767px) {
	body {
		overflow: show;
		font-size: 2.5em;
	}
	
	article {
		clear: both;
	}
	
	#whois {
		text-align: center;
	}
	
	#about {
		padding-right: 5%;
		padding-left: 5%;
	}
	
	#about img {
    border: 4px #fff solid;
    width: 60% !important;
    height: 60% !important;
		clear: both;
		transform: translateX(34%);
	}

	.home {
		min-height: 100%;
	}

	article h1 {
		padding-top: 25px;
		display: none;
	}
	
	article h2 {
		display: block;
		padding-top:20px;
 		text-align: center;
	}

	#mysocial {
		display: block;
	}
	
	a.btn {
  	display: none;
	}

}

@media (min-width: 768px) {
	

}

@media (min-width: 992px) {
	

}

@media (min-width: 1200px) {


}